:root {
    --primary: #7aa2f7;
    --primary-dark: #5a85f0;
    --secondary: hsl(28, 82%, 60%);
    --secondary-dark: hsl(28, 82%, 53%);
    --white: #f8fafc;
    --white2: #f1f5f9;
    --gray: #e2e8f0;
    --gray2: #94a3b8;
    --gray3: #64748b;
    --black: #1e293b;
    --black2: #0f172a;
}
